<div class="sidebar">
  <ul class="menu">
    <li class="menu-item" routerLinkActive="active" routerLink="/">
      <a id="link">TV series recommendation</a>
    </li>
    <li class="menu-item" (click)="this.dropdownVisible = !this.dropdownVisible">
      TV series
      <ul [ngStyle]="{'display': dropdownVisible? 'block' : 'none'}" class="dropdown">
        <li class="dropdown-item" routerLinkActive="active" routerLink="/tvseries">
          <a id="link">TV series list</a>
        </li>
        <li class="dropdown-item" routerLinkActive="active" routerLink="/chatbot">
          <a id="link">Ask chatbot</a>
        </li>
      </ul>
    </li>
  </ul>
</div>
